body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}



/* Navbar */
.navbar {
  width: 100vw;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #1c1c1c;
  font-size: 18px;
  box-sizing: border-box;
}



.navbar span {
  cursor: pointer;
  color: #aaa;
}

.navbar span:hover {
  color: white;
}

/* Page Content */
.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page h1 {
  font-size: 55px;
}




